html
    head
        title E-commerce Express
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/styles/index.css")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
            a.navbar-brand(href='/products') Shoppo
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/products')
                            | Trang chủ
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/cart')
                            | Giỏ hàng(#{productCount})
                form.form-inline.my-2.my-lg-0.mr-5(action="/products/search")
                    input.form-control.mr-sm-2(type='text' placeholder='Tìm kiếm' name="q")
                    button.btn.btn-secondary.my-2.my-sm-0 Tìm kiếm
                if user
                    if user.firstName && user.lastName
                        span.text-end.text-light.mr-3
                            |Xin chào,
                            br
                            |
                            a.text-light(href="/user/info/") #{user.lastName + " " + user.firstName}
                    else
                        span.text-end.text-light.mr-3
                            |Xin chào,
                            br
                            |
                            a.text-light(href="/user/info/") #{user.email}
                    a(href="/auth/logout").btn.btn-light.my-2.my-sm-0.text-end Đăng xuất
                else
                    a(href="/auth/login").btn.btn-outline-light.my-2.my-sm-0.text-end.mr-2 Đăng nhập
                    a(href="/auth/register").btn.btn-light.my-2.my-sm-0.text-end Đăng ký
        .container.pb-5
            block content
        - let currentYear = new Date().getFullYear();
        p#copyright.text-center Copyright &copy; #{currentYear}

