extends ../layouts/common.pug

block content
    form.mt-5(action="/" method="GET") 
        .row.align-items-start
            .col-6 
                label(for="") Lọc sản phẩm
            .col-2 
                select#price(name="price") 
                    option(value="" ) Chọn sắp xếp theo giá
                    option(value="1") Tăng dần
                    option(value="0") Giảm dần
            .col-2
                select#buy-time(name="favorite") 
                    option(value="" ) Chọn sắp xếp lượt mua
                    option(value="1") Tăng dần
                    option(value="0") Giảm dần
            .col-2
                button.btn.btn-outline-success(type="submit") Áp dụng
    .row.mt-5 
        each product in products
            .col-sm-6.col-md-4.col-lg-3
                .card.mb-3
                    a(href='/products/' + product.id)
                        img.card-img-top(src=product.image)
                    .card-body
                        a(href='/products/' + product.id)
                            h5.card-title= product.name
                        p.card-text= product.description
                        a.btn.btn-primary(href='/cart/add/' + product.id) Add to cart